.main {
  display: flex;
  flex-direction: column;
}
.list {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.load-button-wrapper {
  display: flex;
}